---
import PageLayout from "../layouts/PageLayout.astro"
import Screenshot from "../components/Screenshot.astro"
import linkIcon from "../images/link-icon.svg?raw"
import ImageLink from "../components/ImageLink.astro"
import faGazaImage from '../images/fa-gaza.png'
import safeZonesImage from '../images/fa-labels-safe-zones.png'
import labelsSatteliteImage from '../images/fa-labels-sattelite-imagery.png'
import ScreenshotsBlock from "../components/ScreenshotsBlock.astro"
import ScreenshotCaption from "../components/ScreenshotCaption.astro"

const url = 'https://gaza.forensic-architecture.org/displacement'

---

<PageLayout
  title="Humanitarian Violence in Gaza"
  description="I helped simplify and clarify the visual language in a complex mapping project for Forensic Architecture."
  color="#000"
>
  <Fragment slot="links">
    <a class="button" href={url}>
      View Project
      <Fragment set:html={linkIcon} />
    </a>
  </Fragment>
  <ScreenshotsBlock>
    <div class="col-span-4">
      <a class="tab-focus" href={url}>
        <Screenshot
          image={faGazaImage}
          alt="Screenshot of a map of Gaza overlayed with information about Israel's invasion"
        />
      </a>
    </div>
    <div class="col-span-3">
      <ImageLink
        href={labelsSatteliteImage.src}
      >
        <Screenshot
          image={labelsSatteliteImage}
          alt="Screenshot of the labels on sattelite imagery."
        />
      </ImageLink>
    </div>
    <div class="flex flex-col justify-between gap-6">
      <ScreenshotCaption>
        I designed text labels that could be seen clearly against noisy backgrounds, like satellite imagery.
      </ScreenshotCaption>
      <ScreenshotCaption>
        I also developed map zone styles that were legible when the areas overlapped.
      </ScreenshotCaption>
    </div>
    <div class="col-span-4">
      <ImageLink
        href={safeZonesImage.src}
      >
        <Screenshot
          image={safeZonesImage}
          alt="Screenshot showing multiple overlapping map zones"
        />
      </ImageLink>
    </div>
    <div
      class="
        flex
        justify-center
        xl:text-xl
      "
    >
      <a class="button" href={url}>
        View Project
        <Fragment set:html={linkIcon} />
      </a>
    </div>
  </ScreenshotsBlock>
</PageLayout>