---
import PageLayout from "../layouts/PageLayout.astro"
import Screenshot from "../components/Screenshot.astro"
import linkIcon from "../images/link-icon.svg?raw"
import ImageLink from "../components/ImageLink.astro"
import faGazaImage from '../images/fa-gaza.png'
import safeZonesImage from '../images/fa-labels-safe-zones.png'
import labelsSatteliteImage from '../images/fa-labels-sattelite-square.png'
import ScreenshotsBlock from "../components/ScreenshotsBlock.astro"
import ScreenshotCaption from "../components/ScreenshotCaption.astro"

const url = 'https://gaza.forensic-architecture.org/displacement'

---

<PageLayout
  title="Humanitarian Violence in Gaza"
  description="I helped simplify and clarify the visual language in a complex mapping project for Forensic Architecture."
  color="#000"
>
  <Fragment slot="links">
    <a class="button" href={url}>
      View Project
      <Fragment set:html={linkIcon} />
    </a>
  </Fragment>
  <ScreenshotsBlock>
    <div class="col-span-4">
      <ImageLink
        href={faGazaImage.src}
      >
        <Screenshot
          image={faGazaImage}
          alt="Screenshot from Forensic Architecture's investigation into Humanitarian Violence in Gaza"
        />
      </ImageLink>
    </div>
    <ScreenshotCaption>
      I wrote a custom <a class="link" href="https://docs.mapbox.com/api/maps/styles/">MapBox Style</a> to remove unrelated map details, like roads, cities and borders, so that Forensic Architecture's intricate mapping could be seen more clearly.
    </ScreenshotCaption>
    <div class="col-span-3">
      <ImageLink
        href={safeZonesImage.src}
      >
        <Screenshot
          image={safeZonesImage}
          alt="Screenshot showing multiple overlapping map zones"
        />
      </ImageLink>
    </div>
    <div /></div>
    <ScreenshotCaption>
      Text labels needed to be redesigned so that they could be read against noisy backgrounds, like satellite imagery.
    </ScreenshotCaption>
    <div class="col-span-2">
      <ImageLink
        href={labelsSatteliteImage.src}
      >
        <Screenshot
          image={labelsSatteliteImage}
          alt="Screenshot of the labels on sattelite imagery."
        />
      </ImageLink>
    </div>
    <div
      class="
        col-span-4
        flex
        justify-center
        xl:text-xl
      "
    >
      <a class="button" href={url}>
        View Project
        <Fragment set:html={linkIcon} />
      </a>
    </div>
  </ScreenshotsBlock>
</PageLayout>