---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import ScrollCarousel from '../components/ScrollCarousel.astro';
import PortfolioItem from '../components/PortfolioItem.astro';
import profileImage from '../images/profile.png';
import dogsImage from '../images/dogs.png';
import dotsImage from '../images/dots.png';
import dots2Image from '../images/dots-2.png';
import killerAiImage from '../images/killerai.png';
import uiLibraryImage from '../images/ui-library-submission.png';
import journalFiImage from '../images/journalfi-homepage.png';
import lawfareImage from '../images/lawfare-homepage.png';
import weHadDreamsImage from '../images/wehaddreams.png';
import wpImage from '../images/wp-augustan.png';
---

<Layout
	title="Nate Wright, Senior Full-stack Developer"
	description="I build beautiful websites, easy-to-use apps, and engaging digital stories for journalists, researchers, and activists."
	nav={[
		{
			href: '#what-i-do',
			text: 'What I Do',
		},
		{
			href: '#experience',
			text: 'Experience',
		},
		{
			href: '#contact',
			text: 'Contact',
		}
	]}
>
	<div
		class="
			absolute
			top-0
			left-0
			w-full
			-z-10
			sm-landscape:w-1/2
			xl:w-2/3
		"
		slot="header-image"
		aria-hidden="true"
	>
		<Image src={profileImage} alt="" />
	</div>
	<main>
		<section
			class="
				mx-6-vw
				mt-[75vw]
				flex
				flex-col
				gap-6-vw
				text-lg-vw
				leading-relaxed
				sm:text-sm-vw
				sm-landscape:mt-[20vw]
				sm-landscape:max-w-[55vw]
				sm-landscape:ml-auto
				sm-landscape:mr-24
				sm-landscape:gap-6
				sm-landscape:text-lg
				sm-landscape:leading-relaxed
				xl:max-w-md
				xl:ml-[50vw]
				3xl:max-w-xl
				3xl:text-2xl
				3xl:leading-relaxed
			"
		>
			<h1 class="sr-only">About Me</h1>
			<p class="
				text-2xl-vw
				font-semibold
				leading-normal
				sm:text-lg-vw
				sm-landscape:text-2xl
				sm-landscape:leading-normal
				3xl:text-3xl
				3xl:leading-normal
			">
				My name is Nate Wright and I’ve been building websites and apps for more than 20 years. If it’s on the web, I can build it and make it accessible to anyone on any device.
			</p>
			<p>
				I had a previous career in journalism and I’m interested in working on projects at the intersection of information, communication, and social change.
			</p>
			<p>
				See what I do below and <a class="link" href="#contact">contact me</a> if you think I can help with something you are working on.
			</p>
		</section>
		<ScrollCarousel
			title="Stories"
			background={dotsImage}
			classes={`
				h-[250vh]
				lg:h-[200vh]
			`}
		>
			<p slot="description">
				I make <strong>engaging digital stories</strong> for journalists, campaigners and activists that have real impact.
			</p>
			<PortfolioItem
				title="Stop Killer AI"
				client="Visualizing Palestine"
				date="May 2024"
				url="/killer-ai"
				image={killerAiImage}
				color="#4D0016"
				alt="Graphic showing families under a watching eye and the text: Israel's Killer AI"
			/>
			<PortfolioItem
				title="Open Journal Systems"
				client="Public Knowledge Project"
				date="2018-2023"
				url="/ui-library"
				image={uiLibraryImage}
				color="#002C40"
				alt="Screenshot of the step-by-step workflow to make a new journal submission"
			/>
			<PortfolioItem
				title="We Had Dreams"
				client="Visualizing Palestine"
				date="Nov 2023"
				url="https://wehaddreams.com"
				image={weHadDreamsImage}
				color="#211202"
				alt="Graphic showing a nightime city skyline with explosions and the text: We Had Dreams, Palestinians living and dying under seige"
			/>
		</ScrollCarousel>
		<ScrollCarousel
			title="Websites"
			background={dots2Image}
			classes={`
				h-[250vh]
				lg:h-[200vh]
			`}
		>
			<p slot="description">
				I produce <strong>beautiful websites</strong> that are easy for anyone to use on any device.
			</p>
			<PortfolioItem
				title="Journal.fi and Edition.fi"
				client="Finnish Learned Societies"
				date="Coming Soon"
				url="/finnish-journals"
				image={journalFiImage}
				color="#8F00FF"
				alt="Screenshot of the homepage for journal.fi with text that says Access 100+ Finnish Scholarly Journals"
			/>
			<PortfolioItem
				title="Lawfare Data Hub"
				client="FMEP"
				date="Sep 2023"
				url="/lawfare"
				image={lawfareImage}
				color="#1F274C"
				alt="Screenshot of the homepage of lawfare.fmep.org that says FMEP's research and documentation on the campaign to exploit US laws."
			/>
			<PortfolioItem
				title="WordPress Themes"
				client="Theme of the Crop"
				date="2014-2018"
				url="/wordpress"
				image={wpImage}
				color="#002222"
				alt="Screenshot of the Augustan theme for  WordPress."
			/>
		</ScrollCarousel>
		<ScrollCarousel
			title="Websites"
			background={dots2Image}
			classes={`
				h-[250vh]
				lg:h-[200vh]
			`}
		>
			<p slot="description">
				I build <strong>reliable apps</strong> that help individuals and organisations collect, manage and analyse data.
			</p>
			<PortfolioItem
				title="Open Journal Systems"
				client="Public Knowledge Project"
				date="2018-2023"
				url="/ui-library"
				image={uiLibraryImage}
				color="#002C40"
				alt="Screenshot of the step-by-step workflow to make a new journal submission"
			/>
			<PortfolioItem
				title="Journal.fi and Edition.fi"
				client="Finnish Learned Societies"
				date="Coming Soon"
				url="/finnish-journals"
				image={journalFiImage}
				color="#8F00FF"
				alt="Screenshot of the homepage for journal.fi with text that says Access 100+ Finnish Scholarly Journals"
			/>
			<PortfolioItem
				title="Lawfare Data Hub"
				client="FMEP"
				date="Sep 2023"
				url="/lawfare"
				image={lawfareImage}
				color="#1F274C"
				alt="Screenshot of the homepage of lawfare.fmep.org that says FMEP's research and documentation on the campaign to exploit US laws."
			/>
			<PortfolioItem
				title="WordPress Themes"
				client="Theme of the Crop"
				date="2014-2018"
				url="/wordpress"
				image={wpImage}
				color="#002222"
				alt="Screenshot of the Augustan theme for  WordPress."
			/>
		</ScrollCarousel>
		<section
			class="
				relative
				my-[30vh]
			"
		>
			<div
				class="
					absolute
					top-0
					right-0
					w-[120vw]
					-z-10
					sm-landscape:w-[60vw]
				"
				aria-hidden="true"
			>
				<Image src={dogsImage} alt="" />
				<div
					class="
						absolute
						right-0
						top-[40vw]
						bg-white
						px-2
						py-1
						font-mono
						font-bold
						text-xs
						sm-landscape:top-[15vw]
						xl:top-[20vw]
					"
				>
					My dogs Bella and Peanut
				</div>
			</div>
			<h2 class="sr-only">Experience</h2>
			<div
				class="
					mx-6-vw
					pt-[120vw]
					flex
					flex-col
					gap-6-vw
					text-lg-vw
					leading-relaxed
					sm:text-sm-vw
					sm-landscape:pt-[30vw]
					sm-landscape:max-w-[45vw]
					sm-landscape:mr-auto
					sm-landscape:ml-16
					sm-landscape:gap-6
					sm-landscape:text-lg
					sm-landscape:leading-relaxed
					xl:max-w-md
					xl:mr-[50vw]
					xl:ml-auto
					3xl:max-w-xl
					3xl:text-2xl
					3xl:leading-relaxed
				"
			>
				<p class="
					text-2xl-vw
					font-semibold
					leading-normal
					text-balance
					sm:text-lg-vw
					sm-landscape:text-2xl
					sm-landscape:leading-normal
					3xl:text-3xl
					3xl:leading-normal
				">
					In my career, I’ve worn all sorts of hats.
				</p>
				<p>
					I’ve worked alone and in teams, led on frontend and backend tasks, and taken on documentation and developer relations.
				</p>
				<p>
					I’m comfortable working across the full stack, from design to database and everything in between. Take a closer look at my technical experience below.
				</p>
			</div>
		</section>
	</main>
</Layout>

<style>

</style>
