---
import Layout from '../layouts/Layout.astro';
import IconBulletPoint from '../components/IconBulletPoint.astro';
import PortfolioItem from '../components/PortfolioItem.astro';
import StaggeredTiles from '../components/StaggeredTiles.astro';
import stories from '../data/stories';
import websites from '../data/websites';
import experience from '../data/experience';
import apps from '../data/apps';
import UnderlineText from '../components/UnderlineText.astro';
import Button from '../components/Button.astro';

const nav = [
	{
		href: '#what-i-do',
		text: 'What I Do',
	},
	{
		href: '#experience',
		text: 'Experience',
	},
	{
		href: '#contact',
		text: 'Contact',
	}
]
---

<Layout
	title="Nate Wright | Software Developer & Digital Producer"
	description="I make engaging digital stories, websites and apps for journalists, researchers, and activists."
	nav={nav}
	revealNav={true}
>
	<canvas
		class="
			absolute
			top-0
			left-0
			w-full
			h-[100vw]
			-z-10
			bg-white
			sm-landscape:w-1/2
			sm-landscape:h-[50vw]
			xl:w-2/3
			xl:h-[67.6777vw]
		"
		aria-hidden="true"
		data-halftone-image="profile.png"
		data-halftone-mask="mask-top-1.png,mask-top-left-1.png:1280"
	/>
	<section
		class="
			relative
			mt-[70vw]
			mb-[100vw]
		"
	>
		<div
			class="
				mx-auto
				max-w-xs
				flex
				flex-col
				gap-7
				leading-normal
				text-center
				xs:text-xl
			"
		>
			<h1 class="sr-only">About Me</h1>
			<p class="
				mx-auto
				max-w-[280px]
				mb-4
				text-2xl
				font-bold
				leading-normal
				xs:text-3xl
				xs:max-w-sm
			">
				My name is Nate Wright and I’ve been building websites and apps for
				<UnderlineText>more than 20 years.</UnderlineText>
			</p>
			<p>
				If it’s on the web, I can build it and make it accessible to anyone on any device.
			</p>
			<p>
				I had a previous career in journalism and I’m interested in working on projects at the intersection of information, communication, and social change.
			</p>
			<p class="mt-4">
				<a href="#contact">
					<Button>Contact Me</Button>
				</a>
			</p>
		</div>
		<figure
			class="
				absolute
				top-full
				right-0
				w-full
				h-[100vw]
				overflow-hidden
				-z-10
			"
		>
			<canvas
				aria-hidden="true"
				class="
					w-full
					h-full
					absolute
					left-1/2
					-translate-x-1/2
				"
				data-halftone-image="dogs.png"
				data-halftone-mask="mask-left-right-1.png,mask-right-1.png:1280"
			/>
			<figcaption
				class="
					absolute
					right-0
					top-1/3
					bg-white
					p-1
					font-mono
					font-bold
					text-xs
				"
			>
				My dogs Bella and Peanut
			</figcaption>
		</figure>
	</section>
	<section class="-mt-12">
		<div class="px-6 mb-1">
			<UnderlineText fullWidth={true}>
				<h2 class="px-2 text-xl font-mono font-bold uppercase">
					What I Do
				</h2>
			</UnderlineText>
		</div>
		<div class="p-8 flex flex-col gap-4">
			<ul class="
				flex gap-4 items-center font-mono font-bold uppercase text-xs
				xs:gap-6
			">
				<li class="flex gap-1 items-center">
					<IconBulletPoint classes="w-3 h-3" />
					Stories
				</li>
				<li class="flex gap-1 items-center">
					<IconBulletPoint classes="w-3 h-3 rotate-50" />
					Maps
				</li>
				<li class="flex gap-1 items-center">
					<IconBulletPoint classes="w-3 h-3 rotate-100" />
					Data Visualization
				</li>
			</ul>
			<p class="font-medium text-lg">
				I make <strong class="italic font-black">engaging digital stories</strong> for journalists, campaigners and activists.
			</p>
		</div>
		<div class="flex flex-col gap-8">
			{stories.map(story => (
				<div class="px-2">
					<PortfolioItem
						title={story.title}
						client={story.client}
						date={story.date}
						url={story.url}
						image={story.image}
						alt={story.alt}
					/>
				</div>
			))}
		</div>
	</section>
	<section class="mt-32" >
		<div class="p-8 flex flex-col gap-4">
			<ul class="
				flex gap-4 items-center font-mono font-bold uppercase text-xs
				xs:gap-6
			">
				<li class="flex gap-1 items-center">
					<IconBulletPoint classes="w-3 h-3" />
					Websites
				</li>
				<li class="flex gap-1 items-center">
					<IconBulletPoint classes="w-3 h-3 rotate-50" />
					Themes
				</li>
				<li class="flex gap-1 items-center">
					<IconBulletPoint classes="w-3 h-3 rotate-100" />
					Documentation
				</li>
			</ul>
			<p class="font-medium text-lg">
				I produce <strong class="italic font-black">beautiful websites</strong> that are easy for anyone to use on any device.
			</p>
		</div>
		<div class="flex flex-col gap-8">
			{websites.map(website => (
				<div class="px-2">
					<PortfolioItem
						title={website.title}
						client={website.client}
						date={website.date}
						url={website.url}
						image={website.image}
						alt={website.alt}
					/>
				</div>
			))}
		</div>
	</section>
	<section class="mt-32" >
		<div class="p-8 flex flex-col gap-4">
			<ul class="
				flex gap-4 items-center font-mono font-bold uppercase text-xs
				xs:gap-6
			">
				<li class="flex gap-1 items-center">
					<IconBulletPoint classes="w-3 h-3" />
					Apps
					<span class="sr-only sm:not-sr-only">
						& Services
					</span>
				</li>
				<li class="flex gap-1 items-center">
					<IconBulletPoint classes="w-3 h-3 rotate-50" />
					Datasets
				</li>
				<li class="flex gap-1 items-center">
					<IconBulletPoint classes="w-3 h-3 rotate-100" />
					Research Tools
				</li>
			</ul>
			<p class="font-medium text-lg">
				I build <strong class="italic font-black">reliable apps</strong> to collect, manage, and analyse data.
			</p>
		</div>
		<div class="flex flex-col gap-8">
			{apps.map(app => (
				<div class="px-2">
					<PortfolioItem
						title={app.title}
						client={app.client}
						date={app.date}
						url={app.url}
						image={app.image}
						alt={app.alt}
					/>
				</div>
			))}
		</div>
	</section>
	<section
		class="
			relative
			my-[30vh]
		"
	>
		<div
			class="
				absolute
				top-0
				right-0
				w-[120vw]
				-z-10
				sm-landscape:w-[60vw]
				lg:w-[80vw]
				lg-landscape:w-[60vw]
			"
		>
			<canvas
				aria-hidden="true"
				class="w-full h-auto"
				data-halftone-image="mushrooms.png"
				data-halftone-mask="mask-right-2.png"
			/>
			<div
				class="
					absolute
					right-0
					top-[40vw]
					bg-white
					px-2
					py-1
					font-mono
					font-bold
					text-xs
					sm-landscape:top-[15vw]
					lg:top-[20vw]
				"
			>
				A mound of mushrooms in the Scottish Highlands
			</div>
		</div>
		<h2 id="experience" class="sr-only">Experience</h2>
		<div
			class="
				mx-6-vw
				pt-[120vw]
				flex
				flex-col
				gap-6-vw
				text-lg-vw
				leading-relaxed
				sm:text-sm-vw
				sm-landscape:pt-[30vw]
				sm-landscape:max-w-[45vw]
				sm-landscape:mr-auto
				sm-landscape:ml-16
				sm-landscape:gap-6
				sm-landscape:text-lg
				sm-landscape:leading-relaxed
				lg:pt-[70vw]
				lg-landscape:pt-[30vw]
				xl:text-xl
				xl:leading-relaxed
				xl:gap-6
				xl:max-w-md
				xl:mr-[50vw]
				xl:ml-auto
				3xl:max-w-xl
				3xl:text-2xl
				3xl:leading-relaxed
			"
		>
			<p class="
				text-2xl-vw
				font-semibold
				leading-normal
				text-balance
				sm:text-lg-vw
				sm-landscape:text-2xl
				sm-landscape:leading-normal
				xl:text-4xl
				xl:leading-tight
				3xl:text-3xl
				3xl:leading-normal
			">
				In my career, I’ve worn all sorts of hats.
			</p>
			<p>
				I’ve worked alone and in teams, led on frontend and backend tasks, and taken on documentation and developer relations.
			</p>
			<p>
				I’m comfortable working across the full stack, from design to database and everything in between. Take a closer look at my technical experience below.
			</p>
		</div>
		<div
			class="
				mx-6-vw
				my-12-vw
				sm-landscape:mt-12
				sm-landscape:mx-auto
				sm-landscape:max-w-[80vw]
				lg:mt-12
				lg:mx-auto
				lg:max-w-[90vw]
				xl:max-w-[80vw]
				2xl:max-w-screen-lg
				3xl:max-w-screen-xl
			"
		>
			<StaggeredTiles tiles={experience} />
		</div>
	</section>
</Layout>

