---
import type { ImageMetadata } from 'astro';
import Screenshot from '../components/Screenshot.astro';


interface Props {
  title: string;
  client: string;
  date: string;
  url: string;
  image: ImageMetadata;
  alt?: string;
}

const { title, client, date, url, image, alt = '' } = Astro.props;
---

<a
  class="
    portfolio-item
    flex
    flex-col
    items-start
    group
    focus-visible:outline-0
  "
  href={url}
>
  <Screenshot
    image={image}
    alt={alt}
    sizes="
      (width <= 359px) 340px,
      (width <= 639px) 680px,
      (width <= 1279px) 480px,
      (width <= 1535px) 350px,
      (width <= 1919px) 450px,
      (width <= 2559px) 540px,
      700px,
    "
  />
  <div class="
    py-2
    px-6
    font-mono
    text-xs
    xs:text-sm
    lg:px-4
    xl:px-2
    group-focus-visible:bg-black
    group-focus-visible:text-yellow
  ">
    <h3 class="font-extrabold">
      {title}
    </h3>
    <div class="
      mt-1
      flex
      gap-2
      font-medium
      sm:text-xs
      lg:text-sm
      lg:mt-0
      xl:text-xs
      3xl:text-sm
    ">
      <span class="shrink-0 uppercase">
        {date}
      </span>
      <span>·</span>
      <span>
        {client}
      </span>
    </div>
  </div>
</a>

<style>
  @media (min-width: 640px) {
    .portfolio-item :global(img) {
      transition: transform 150ms;
    }
    .portfolio-item:hover :global(img) {
      transform: scale(110%);
    }
  }
</style>