---
import type { ImageMetadata } from 'astro';
import Screenshot from '../components/Screenshot.astro';


interface Props {
  title: string;
  client: string;
  date: string;
  url: string;
  image: ImageMetadata;
  alt?: string;
}

const { title, client, date, url, image, alt = '' } = Astro.props;
---

<a
  class="
    flex
    flex-col
    items-start
  "
  href={url}
>
  <Screenshot
    image={image}
    alt={alt}
  />
  <div class="
    py-2 px-6 font-mono text-xs
    xs:text-sm
  ">
    <h3 class="font-extrabold">
      {title}
    </h3>
    <div class="mt-1 flex items-center gap-2 font-medium">
      <span class="uppercase">
        {date}
      </span>
      <span>·</span>
      <span>
        {client}
      </span>
    </div>
  </div>
</a>
