---
import type { PortfolioItem as PortfolioItemType } from "../scripts/portfolio-item"
import PortfolioItem from "./PortfolioItem.astro";
import arrowLeftSvg from "../images/arrow-left.svg?raw";
import arrowRightSvg from "../images/arrow-right.svg?raw";
import 'swiper/css'
import SvgStack from "./SvgStack.astro";

interface Props {
  items: PortfolioItemType[];
}

const { items } = Astro.props
---

<div class="swiper flex flex-col gap-8">
  <div class="
    swiper-wrapper
    sm:grid
    sm:grid-cols-2
    sm:gap-2
    lg:gap-6
    xl:grid-cols-3
    xl:gap-x-2
    xl:gap-y-4
    3xl:gap-x-4
    3xl:gap-y-8
    4xl:grid-cols-4
  ">
    {items.map(item => (
      <div class="swiper-slide px-2 sm:px-0">
        <PortfolioItem
          title={item.title}
          client={item.client}
          date={item.date}
          url={item.url}
          image={item.image}
          alt={item.alt}
        />
      </div>
    ))}
  </div>
  <div class="relative h-12 mt-4 flex justify-end items-stretch sm:hidden">
    <button class="swiper-button-prev">
      <SvgStack svg={arrowLeftSvg} classes="w-12 h-12" aria-hidden="true" />
      <span class="sr-only">Prev</span>
    </button>
    <div class="swiper-pagination px-4 bg-white self-center font-mono text-xs"></div>
    <button class="swiper-button-next">
      <SvgStack svg={arrowRightSvg} classes="w-12 h-12" aria-hidden="true" />
      <span class="sr-only">Next</span>
    </button>
  </div>
</div>

<script>
import { debounce } from 'throttle-debounce'
import Swiper from 'swiper'
import { Navigation, Pagination } from 'swiper/modules'

const BREAKPOINT = 640
let swipers: any = []

const init = () => {
  if (window.innerWidth < BREAKPOINT) {
    if (swipers.length) {
      return
    }
    swipers = new Swiper('.swiper', {
      modules: [Navigation, Pagination],
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      },
      navigation: {
        addIcons: false,
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    })
  } else if (window.innerWidth >= BREAKPOINT) {
    swipers.forEach((swiper: any) => {
      swiper.destroy()
    })
    swipers = []
  }
}
document.addEventListener('DOMContentLoaded', () => {
  init()
  window.addEventListener('resize', debounce(1000, init))
})
</script>

<style>
  .swiper-button-disabled {
    opacity: 0.25;
  }

  @media (min-width: 640px) {
    .swiper {
      /* Override overflow: hidden from swiper/css */
      overflow: visible !important;
    }
    .swiper-wrapper {
      /* Override display: flex from swiper/css */
      display: grid !important;
      margin-left: 1rem;
      margin-right: 1rem;
      width: auto;
    }
  }

  @media (min-width: 1920px) {
    .swiper-wrapper {
      margin-left: 0;
      margin-right: 0;
    }
  }
</style>