---
import type { Terminal } from '../scripts/terminal'

interface Props {
  item: Terminal;
}

const { item } = Astro.props
---

<div
  class="
    flex
    flex-col
    p-1
    bg-white
    overflow-hidden
  "
  data-blur="true"
>
  <div
    class="
      flex
      px-3
      py-2
      gap-0.5
      bg-code-teal-very-dark
    "
  >
    <div class="w-2 h-2 rounded-full bg-code-teal"></div>
    <div class="w-2 h-2 rounded-full bg-code-teal"></div>
    <div class="w-2 h-2 rounded-full bg-code-teal"></div>
  </div>
  <div
    class="
      px-2
      py-4
      flex
      flex-col
      gap-6
      grow
      font-mono
      bg-code-teal-dark
      text-white/[0.85]
    "
  >
    <div
      class="
        text-xs
        font-bold
        max-w-full
        overflow-hidden
        text-nowrap
      "
    >
      <span class="text-code-teal">{item.path}</span>
      <span class="text-code-grey">on</span>
      <span class="text-code-fuscia">{item.branch}</span>
      <span class="text-code-dark-grey">{item.commit}</span>
    </div>
    <div
      class="
        text-lg
        font-bold
        md:text-lg
      "
    >
      # {item.title}
    </div>
    <div
      class="
      "
    >
      {item.description}
    </div>
    <div class="mt-auto">
      <a
        href={item.url}
        class="
          text-base-vw
          font-bold
          text-code-orange
          sm-landscape:text-base
          md:text-base
          3xl:text-lg
        "
      >
        [ Learn More ]
      </a>
    </div>
  </div>
</div>

<style>

  [data-blur] {
    transition: all 0.5s;
    transform-origin: center;
    filter: blur(0);
    transform: scale(1);
    opacity: 1;
  }

  [data-blur="true"] {
    filter: blur(10px);
    transform: scale(0.8);
    opacity: 0;
  }
</style>