---
import '../styles/global.css';
import Fonts from '../components/Fonts.astro'
import HalftoneImageCaption from '../components/HalftoneImageCaption.astro';
import NavBar from '../components/NavBar.astro';
import UnderlineText from '../components/UnderlineText.astro';

interface Props {
	title: string;
	description?: string;
	nav: {href: string, text: string, isHome?: boolean}[];
}

const { title, description, nav } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-pt-32">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta property="og:title" content={title}>
		{description && (
			<meta name="description" content={description}>
			<meta name="og:description" content={description}>
			<meta name="twitter:description" content={description}>
		)}
		<meta property="og:image" content="https://notthisway.com/opengraph.jpg">
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="630">
		<meta property="twitter:image" content="https://notthisway.com/opengraph.jpg">
		<meta property="twitter:card" content="summary_large_image">
		<link rel="icon" href="/site-icon-32.png" type="image/png">
		<link rel="apple-touch-icon" href="/site-icon-180.png">
		<link rel="manifest" href="/manifest.webmanifest">
		<Fonts />
		<!-- Matomo -->
		<script>
			// @ts-nocheck
			var _paq = window._paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
			var u="https://matomo.notthisway.com/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '1']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
		<!-- End Matomo Code -->
	</head>
	<body>
		<slot name="header-image" />
		<header
			id="nav"
			class="
				fixed
				top-4
				left-1/2
				z-50
				-translate-x-1/2
				-translate-y-20
				transition-all
				duration-300
				lg:left-auto
				lg:right-4
				lg:translate-x-0
				lg:translate-y-0
				3xl:right-6
				3xl:top-6
			"
		>
			<NavBar nav={nav} />
		</header>
		<main>
			<slot />
		</main>
		<footer
			class="
				relative
				overflow-hidden
				pb-[120vw]
				sm:pb-[60vw]
			"
		>
			<figure
				class="
					absolute
					bottom-0
					right-0
					w-[200vw]
					h-[200vw]
					translate-x-1/4
					-z-50
					sm:w-screen
					sm:h-[100vw]
					sm:translate-x-0
				"
				aria-hidden="true"
			>
				<canvas
					class="
						absolute
						top-0
						left-0
						w-full
						h-full
						-z-10
						bg-white
					"
					aria-hidden="true"
					data-halftone-image="colorado.jpg"
					data-halftone-mask="mask-bottom-1.png"
				/>
				<figcaption
					class="
						absolute
						right-[50vw]
						top-3/5
						bg-white
						font-mono
						font-bold
						text-xs
						sm:right-0
					"
				>
					<HalftoneImageCaption
						text="Cache la Poudre River, Colorado"
					/>
				</figcaption>
			</figure>
			<h2 class="sr-only">Contact</h2>
			<div
				id="contact"
				class="
					pt-[25vh]
					flex
					flex-col
					items-center
					gap-6
					text-center
					text-balance
					xs:text-xl
					sm:pt-64
					2xl:pt-96
					4xl:pt-128
					4xl:text-2xl
				"
			>
				<p class="
					mx-auto
					max-w-[280px]
					text-2xl
					font-bold
					leading-normal
					xs:text-3xl
					xs:max-w-sm
					4xl:text-5xl
				">
					<UnderlineText classes="inline-block">Ready for a chat?</UnderlineText>
				</p>
				<p class="mt-4 max-w-sm">
					Get in touch if you think I can help you with something.
				</p>
				<p class="flex flex-col gap-2 font-semibold">
					<a href="mailto:natew+work@notthisway.com" class="tab-focus">
						natew+work@notthisway.com
					</a>
					<a href="https://github.com/NateWr" class="tab-focus" target="_blank">
						github.com/NateWr
					</a>
				</p>
			</div>
		</footer>
		<script src="../scripts/index.ts"></script>
	</body>
</html>
