---
import Layout from './Layout.astro';
import stories from '../data/stories';
import storyTypes from '../data/storyTypes';
import websites from '../data/websites';
import websiteTypes from '../data/websiteTypes';
import apps from '../data/apps';
import appTypes from '../data/appTypes';
import experience from '../data/experience';
import type { PortfolioItem } from '../scripts/portfolio-item';
import BulletPoints from '../components/BulletPoints.astro';
import type { Terminal } from '../scripts/terminal';
import arrowLeftSvg from "../images/arrow-left.svg?raw";
import arrowRightSvg from "../images/arrow-right.svg?raw";
import SvgStack from '../components/SvgStack.astro';

interface Props {
	title: string;
	description: string;
  technical?: boolean;
  color?: string;
}

const { title, description, technical = false, color = '#000' } = Astro.props;

const nav = [
	{
		href: '/',
		text: 'Home',
	},
	{
		href: '#contact',
		text: 'Contact',
	}
]

let types : string[] = []
let prev : PortfolioItem | Terminal | null = null
let next : PortfolioItem | Terminal | null = null
let current : number = -1
let total : number = -1
for (const [key, items] of Object.entries({stories, websites, apps, experience})) {
  const i = items.findIndex(item => item.url === Astro.url.pathname)
  if (i > -1) {
    if (i > 0) {
      prev = items[i - 1]
    }
    if (i < items.length - 1) {
      next = items[i + 1]
    }
    switch (key) {
      case 'stories':
        types = storyTypes
        total = stories.length
        break
      case 'websites':
        types = websiteTypes
        total = websites.length
        break
      case 'apps':
        types = appTypes
        total = apps.length
        break
      case 'experience':
        total = experience.length
        break
    }
    current = i  +1
    break
  }
}
---
<Layout
  title={title}
  description={description}
  nav={nav}
>
  <article
    class="
      mt-16-vw
    "
  >
    <header
      class="
        relative
        mx-3
        mt-4
        mb-16
        flex
        flex-col
        gap-8
        max-w-xl
        sm:mx-8
        md:mx-16
        xl:mx-64
        xl:mt-12
        xl:max-w-3xl
        2xl:mt-16
        3xl:max-w-[1200px]
        3xl:mx-auto
      "
    >
      <div class={`
        -ml-3
        flex
        items-center
        gap
        ${!types.length && 'mt-4'}
        xl:absolute
        xl:-top-4
        xl:right-full
        xl:-translate-x-12
        xl:min-w-48
        xl:justify-end
      `}>
        <a
          href={prev?.url || '/'}
          class="
            group
            focus-visible:outline-0
          "
        >
          <SvgStack
            svg={arrowLeftSvg}
            classes="
              w-12
              h-12
              transition-transform
              group-hover:scale-120
              group-hover:-translate-x-1
              group-focus-visible:scale-120
              group-focus-visible:-translate-x-1
            "
            aria-hidden="true"
          />
          <span class="sr-only">
            {prev?.title || 'home'}
          </span>
        </a>
        <span class="px-4 font-mono text-xs">
          {current} / {total}
        </span>
        <a
          href={next?.url || '/'}
          class="
            group
            focus-visible:outline-0
          "
        >
          <SvgStack
            svg={arrowRightSvg}
            classes="
              w-12
              h-12
              transition-transform
              group-hover:scale-120
              group-hover:translate-x-1
              group-focus-visible:scale-120
              group-focus-visible:translate-x-1
            "
            aria-hidden="true"
          />
          <span class="sr-only">
            {next?.title || 'home'}
          </span>

        </a>
      </div>
      <div class="
        flex
        flex-col
        gap-3
        xl:gap-4
      ">
        {types.length ? (
          <BulletPoints items={types} />
        ) : ''}
        <h1 class="
          font-bold
          text-3xl
          xs:text-4xl
          xl:text-5xl
          4xl:text-6xl
        ">
          {title}
        </h1>
        <div
          class="
            text-lg
            max-w-md
            xl:text-xl
            xl:max-w-xl
            4xl:text-2xl
            4xl:max-w-2xl
          "
        >
          {description}
        </div>
      </div>
      <div class="
        self-start
        lg:-ml-2
      ">
        <slot name="links"></slot>
      </div>
    </header>
    <div
      class="
        relative
      "
    >
      <canvas
        slot="header-image"
        class="
          absolute
          -top-48
          right-0
          w-[100vw]
          h-[100vw]
          -z-10
          bg-white
          sm:w-[75vw]
          sm:h-[75vw]
          sm:-top-56
          lg:-top-96
          2xl:-top-128
          2xl:w-[1200px]
          2xl:h-[1200px]
          4xl:-top-192
          4xl:w-[1800px]
          4xl:h-[1800px]
        "
        aria-hidden="true"
        data-halftone-image="black.png"
        data-halftone-mask="mask-left-right-2.png"
      />
        <div class="
          mx-1
          sm:mx-8
          lg:mx-4
          2xl:mx-16
          3xl:max-w-[1600px]
          3xl:mx-auto
        ">
          <slot />
        </div>
    </div>
  </article>
</Layout>