---
import { Picture } from 'astro:assets';
import Layout from './Layout.astro';
import dotsImage from '../images/dots-footer.png';

interface Props {
	title: string;
	description: string;
  technical?: boolean;
  color?: string;
}

const { title, description, technical = false, color = '#000' } = Astro.props;

const nav = [
	{
		href: '/',
		text: 'Home',
    isHome: true,
	},
	{
		href: '#contact',
		text: 'Contact',
	}
]
---
<Layout
  title={title}
  description={description}
  nav={nav}
>
  <div
    class="
      absolute
      top-0
      left-1/2
      w-full
      overflow-hidden
      h-full
      -z-10
      -translate-x-1/2
    "
    slot="header-image"
    aria-hidden="true"
  >
    <div
      class="
        absolute
        -top-16-vw
        left-1/2
        -translate-x-1/2
        rotate-180
        w-[200%]
        sm:w-[150%]
        md:w-[100%]
        md:-top-8-vw
      "
    >
      <Picture
        class="w-full"
        src={dotsImage}
        alt=""
        widths={[800, 1200, 1600, 1920, 2100]}
        quality={80}
      />
    </div>
  </div>
  <article
    class="
      mt-16-vw
      mb-[50vh]
    "
  >
    <header
      class="
        mx-6-vw
        py-12-vw
        flex
        flex-col
        gap-6-vw
        text-center
        sm-landscape:max-w-screen-sm
        sm-landscape:mx-auto
        sm-landscape:py-12
        sm-landscape:gap-6
        xl:max-w-screen-md
        xl:mx-auto
        xl:py-24
        xl:gap-12
      "
    >
      <h1>
        {technical && (
          <span>
            How I Built It
          </span>
        )}
        <span
          class="
            font-black
            text-3xl-vw
            leading-tight
            sm-landscape:text-3xl
            xl:text-7xl
            xl:leading-none
          "
        >
          {title}
        </span>
      </h1>
      <div
        class="
          text-xl-vw
          sm-landscape:text-xl
          xl:text-3xl
          xl:leading-relaxed
        "
      >
        {description}
      </div>
      <div
        class="
          mt-4-vw
          flex
          flex-col
          justify-center
          items-center
          gap-4-vw
          text-lg-vw
          sm-landscape:mt-4
          md:flex-row
          md:gap-4
          md:text-xl
          xl:gap-6
        "
      >
        <slot name="links"></slot>
      </div>
    </header>
    <div
      class="
        mx-6-vw
        sm-landscape:mx-8
        lg:mx-8
        xl:max-w-screen-lg
        xl:mx-auto
        2xl:max-w-screen-xl
        3xl:max-w-screen-2xl
      "
      style=`--color: ${color};`
    >
      <slot />
    </div>
  </article>
</Layout>